<!-- Details Dashboard  -->
{{>header}}
<section id="viewMydestinations">
    <h3>Your destinations</h3>


        {{#each dests}}
        {{#if imTheOwner}}
            <div class="destination-ticket"></div>
        <div class="destination-left">
            <img src="{{imgUrl}}" alt="">
        </div>


        <div class="destination-right">
            <div>
                <h3>{{destination}}</h3><span>{{departureDate}}</span>
            </div>
            <div>
                to {{city}}
            </div>
            <p>{{duration}} </p>
            <a href="#/delete/{{id}}" class="remove">REMOVE</a>
            <a href="#/details/{{ id }}" class="details">Details</a>
        </div>
            </div>
        {{/if}}
        {{/each}}




</section>
{{>footer}}